repos:
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
    - id: mypy
      args: [--config-file=pyproject.toml ]
      files: ^src/
- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.11.0
  hooks:
    - id: commitizen
      stages: [commit-msg]
