repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
    - id: ruff-check
      args: [ --config=pyproject.toml ]
      files: ^src/

    - id: ruff-format
      args: [ --config=pyproject.toml ]
      files: ^src/
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
    - id: mypy
      args: [--config-file=pyproject.toml]
      files: ^src/
      additional_dependencies: [watchdog, platformdirs, plyer, tomli-w, python-daemon, types-pywin32]
- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.11.0
  hooks:
    - id: commitizen
      stages: [commit-msg]
- repo: local
  hooks:
    - id: pytest
      name: pytest
      entry: uv run pytest
      language: system
      types: [python]
      pass_filenames: false
      args: [ -v ]